body {
    background-color: white;
}

header {
    color: black;
    font-size: 28px;
    text-align: center;
}

.container {
    padding-left: 20%;
    padding-right: 20%;
}

.container h1 {
    text-align: center;
    color: black;
}

.container h2 {
    color: black;
}

.container p {
    color:black;
}
