body {
    background-color: black;
}

header {
    color: greenyellow;
    font-size: 28px;
    text-align: center;
}

.container {
    padding-left: 20%;
    padding-right: 20%;
}

.container h1 {
    text-align: center;
    color: blue;
}

.container h2 {
    color: blue;
}

.container p {
    color:white;
}